body {
    width:auto;
    height:auto;
    background-image:url(web-site.jpg);
    background-repeat: no-repeat;
    background-position: center 180px;
}



.containerHeader {
    width:auto;
    height:80px;
    text-align: center;
    box-sizing: border-box;
    border:2px solid DeepSkyBlue;
    
    background-color:Teal;
    
}

.head {
    box-sizing: border-box;
    height:30px;
    width:500px;
    border-bottom:3px solid #507CF5;
    border-top: 3px solid #507CF5;
    position:absolute;
    left:30%;
    right:30%;
    top:30px;
    
    font-size:20px;
    font-style:italic;
    letter-spacing: 3px;
    box-shadow: 10px -5px 5px cyan;
    color:red;
}


.round {
    border-radius: 35%;
    position:absolute;
    left:100px;
    border-color:aqua;
    border:1px solid;
}


.containerMain {
    height:800px;
    border:2px solid DeepSkyBlue;
    margin-top:10px;
    box-sizing: border-box;
}




.mainTitle {
    text-align: center;
    margin-left:400px;
    margin-right:400px;
    margin-top: 5px;
    border: 3px dotted DeepSkyBlue;
    font-weight:bold;
    font-style: oblique;
    font-size: 25px;
    letter-spacing: 4px;
    background-color:cyan;
    color:cornflowerblue;
     box-sizing: border-box;
}


.promo1,.promo2 {
    box-sizing: border-box;
    border:1px solid CornflowerBlue;
    transform: skewX(-10deg);
    background-color: darkturquoise;
    font-size: 13px;
    box-shadow: 10px -20px 4px darkturquoise;
    border-radius:3%;
}

.promo1 {
    margin-top:10%;
    margin-left:2%;
    float:left;
    height: 200px;
    width: 220px;
    color:#507CF5;
    font-weight:bold;
    font-size:14px;
}

.promo2 {
   margin-top:10%;
    font-size:20px;
    margin-right:5%;
    float:right;
    height: 50%;
    width: 300px;
    color:#507CF5;
    text-decoration-line:underline;
}

.containerFooter {
   flex:0 0 auto;
    height:60px;
    border:2px solid DeepSkyBlue;
    margin-top: 5px;
    background-color:Teal; 
}

a {
    color:aqua;
    font-size: 20px;
}


